@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Fonts
  - Noto Sans Display: Used for headings and titles.
  - Noto Sans Mono: Used for code blocks and monospace text.
  - Noto Sans: Used for general text.
  - Ubuntu: Used for the main body text.
*/

/* font-weight
  - 100: Thin
  - 300: Light
  - 400: Regular
  - 500: Medium
  - 700: Bold
*/

body {
    font-family: "Ubuntu", Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 400;
    align-items: right;
}

input, select {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    margin-right: 10px;
    background-color: #4d4d4d;
    color: #ffffff;    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Noto Sans Mono", monospace;
}

/* Footer */
footer dl {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #4b4c50;
    color: #ffffff;
}

footer {
    width: 100%;
    bottom: 0;
}


/* Main */
.main-content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    min-width: 70%;
}

.branch {
    min-width: 70%;
}

.super-head{
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 350;
    font-size: 40px;
    margin: 20px 0 10px 0;
}

.super-head img {
    width: 100px;
    vertical-align: top;
}

/* NavBar */
div.navbar {
    width: 100%;
}

.navbar h1.brand{
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
}

.navbar h1.brand img {
    width: 35px;
    margin-inline: 7px;
    vertical-align: top;
}

.navbar li.brand {
    float: left;
}

.navbar li {
    float: right;
}

.navbar button {
    position: absolute;
    right: 20px;
    top: 5.25px;
    padding: 10px 20px;
    background-color: #fe0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #646e83;
    top: 0;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #00000020;
}

.navbar li a.active {
    background-color: #ffaa07;
}

/* Stuff */
button {
    padding: 8px 16px;
    margin: 5px 0;
    background-color: #4d4d4d;
    color: #ffffff;    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #3a3a3a;
}

table {
    width: 80%;
    margin-top: 20px;
    border: 20px;
    border-collapse: collapse;
    text-align: center;
    background-color: #1c1d22;
}

th{
    font-size: 1.2rem;
    padding: 10px;
}

td{
    font-family: "Noto Sans Mono", monospace;
    padding: 10px;
}

td.out{
    color: #0dc713;
}

td input{
    font-family: "Noto Sans Mono", monospace;
}

textarea{
    background-color: #4d4d4d;
    color: #ffffff;
    width: 90%;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

a {
    color: #a2a7ad;
    text-decoration: none;
}

a:hover {
    color:#e97600;
    text-decoration: underline;
}